div.Box{
    width:60%;
    height: 20vh;
    box-shadow: 0px 0px  2px 2px rgb(206, 205, 205);
    /* padding: 0 !important; */
    background-color: white;
    border-radius: 12px;
   
    
  

   
}

div.Box div#loc{
    border:1px solid black;
      
}